<ul>
  <%- stories.each do |story| %>
    <li>
      <div class="title">
        <%= story.votes %>
        <%= link_to story.title, story.url %>
      </div>
      <div class="details">
        by <%= story.user.handle %>
        at <%= time_ago_in_words story.created_at %> ago
      </div>
  <%- end -%>
</ul>
