%ul
  -stories.each do |story|
    %li.clearfix
      %span.votes= story.votes
      .title
        =link_to_story(story, class: 'clearfix')
      .details.clearfix
        by #{link_to_story_poster(story)}
        at #{time_ago_in_words story.created_at} ago
      -if story.photo_url
        .photo
          %img{ src: story.photo_url }
