<div id="fb-login-wrapper">
  <fb:login-button scope='read_stream'>Login with Facebook</fb:login-button>
</div>
<div id="spinner">
  <%= image_tag 'spinner.gif' %>
  <p>Importing from Facebook, this may take a minute.</p>
</div>
<div id="content">
</div>
